## 服务信息
[app]
name = "merchant-basic"
desc = "商户基础服务"
ip = "127.0.0.1"
port = 12345
weight = 1

### 服务中心信息
[crius]
address = "127.0.0.1:6666"  ## 服务中心地址

## 日志
[log]
channel = "merchant-service-basic"   # 分类
level = 1                           # 级别 1:debug 2:info 3:warn  4:error 5:panic
output = ""                         # 日志输出 不配置(默认stdout) 配置文件路劲
stack = false                       # 是否打印堆栈信息

[database]
user = "micro"                  #数据库账户
password = "123456"             #数据库密码
dbname = "micro_merchant_basic" #数据库名称
sslmode = "disable"             #ssl
host = "192.168.1.98"           #地址
port = 5432                     #端口

[migrate]
table = "tablename"
schema = "schemaname"

[mqtt]
client = "member-basic-local"
username = ""
password = ""
broker = "192.179.2.210:1883"
task_topic = "task_topic"