development:
  dialect: postgres
  datasource: dbname=micro_merchant_basic sslmode=disable user=micro password=123456 host=192.168.1.98 port=5432
  dir: ./
production:
  dialect: postgres
  datasource: dbname=micro_merchant_basic sslmode=disable user=micro password=123456 host=192.168.1.98 port=5432
  dir: ./